div {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin: 2px;
    justify-content: space-between;
    /* background-color: #BFD4DB; */
    background-color: #cde5ed;
}

.title {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-family: "Lucida Handwriting";
    font-size: 45px;
    /* color: #155f76; */
    /* color: #65828C; */
    color: #537079;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    height: 85vh;
    /* padding-left: 10%;
    padding-right: 2%; */
}

.left,
.right {
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 8px;
}

.body {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 20px;
    margin-top: 12px;
    border: 4px solid #CDCCC5;
    width: 40vw;
    height: 40vw;
}

.flex-container {
    display: flex;
    flex: 1 1 auto;
    background-color: white;
}

.box {
    flex: 1 1 auto;
    /* background-color: rgb(255, 251, 235); */
    background-color: rgb(255, 252, 240);
    border: 1px solid #CDCCC5;
}

button {
    padding: 10px 24px;
    border-radius: 6px;
    color: #2b2b2b;
    /* width: 13vw;
    height: 8vh; */
    width: 190px;
    height: auto;
    /* background-color: rgb(255, 251, 235); */
    background-color: rgb(255, 252, 240);
    border: 3px solid #CDCCC5;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    /* min-width: 0; */
}

#colorButton {
    cursor: default;
}

#chooseColor {
    cursor: pointer;
}

.black {
    background-color: #2b2b2b;
    color: white;
    border: 3px solid rgb(255, 251, 235);
}

.rainbow {
    background-color: #FF2DD4;
    border: 3px solid #2b2b2b;
    color: #2b2b2b;
}

#dimensionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 100px;
}

#dimensionContainer span {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #2b2b2b;
}

.dimensions {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .body {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin: 20px;
        margin-top: 12px;
        border: 4px solid #CDCCC5;
        width: 85vw;
        height: 85vw;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    button{
        width:40vw;
        height:15vh;
    }

    #dimensionContainer{
        width:40vw;
        height:15vh;
    }

    #dimensionContainer span, p{
        font-size: 14px;
    }

    .options {
        height:auto;
        justify-content: center;
        /* padding-left: 10%;
        padding-right: 2%; */
    }

    
}